<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div  class="container">
    <div id="banner" class="row">
      <div class="col">
        <img src="./assets/myLogo.png" style="width: 60%; height: auto; margin-left: 4%; "   >
      </div>
      <div class="col slogan">
        <marquee>Aradığın Flimle İlgili Herşey Bu Depoda... -flimDeposu</marquee>
      </div>
      <div class="col">
        <div class="nav">
          <table>
            <tr>
              <td><img style="width: 100%; margin-right: 7%;" src="./assets/homePageIcon.png"></td>
              <td> <a routerLink = "../Anasayfa" routerLinkActive="active">Anasayfa</a></td>
            </tr>
            <tr>
              <td><img style="width: 100%; " src="./assets/star.png"></td>
              <td> <a  routerLink="/favorilerim" routerLinkActive="mat-accent" >Favori Listem</a></td>
            </tr>


          </table>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
